body {
    margin: 0 auto;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
}


section.top-page {
    background: linear-gradient(to bottom, #f5f5dc, #ffd700);
    background-size: cover;
    height: 70vh;
    padding: 25px;
    position: relative;  
    
}
header.header{
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(to bottom,#f5f5dc, #ffd700);
}

.logo{
    width: 150px;
    padding: 5px;
}

.big-title {
    font-size: 80px;
    color: #5e0a16;
}

/* page de bienvenue (landing page) */


a.scroll {
  position: absolute;
  bottom: 40px;
  left: 10%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  color: #5e0a16;
  animation: bounce 1.5s infinite;
}

/* petite animation de flèche */
@keyframes bounce {
  0%, 100% { transform: translate(-10%, 0); }
  50% { transform: translate(-10%, -10px); }
}